<p-accordion [activeIndex]="activeIndex" [multiple]="false">
    <p-accordionTab header="Billing Information">
        <div class="p-fluid p-formgrid grid">
            <div class="col-12 md:col-6">
                <label htmlFor="email" class="required">Client</label>

                <p-dropdown
                    [options]="clients"
                    [filter]="true"
                    [(ngModel)]="invoices['clientId']"
                    appendTo="body"
                    (ngModelChange)="onClientSelect()"
                ></p-dropdown>
            </div>
            <div class="col-12 md:col-6">
                <label htmlFor="contact" class="required">Invoice Number</label>
                <input
                    pInputText
                    id="contact"
                    type="text"
                    [(ngModel)]="invoices.invoiceNumber"
                    (ngModelChange)="modelChanged($event, 'invoiceNumber')"
                />
            </div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="col-12 md:col-6">
                <label htmlFor="contact">Date of supply</label>
                <p-calendar
                    appendTo="body"
                    dateFormat="dd/mm/yy"
                    [(ngModel)]="invoices.supplyDate"
                    (ngModelChange)="modelChanged($event, 'supplyDate')"
                ></p-calendar>
            </div>

            <div class="col-12 md:col-6">
                <label htmlFor="email">GST Number</label>
                <input
                    pInputText
                    id="gstNumber"
                    type="text"
                    [(ngModel)]="invoices.gstNumber"
                    (ngModelChange)="modelChanged($event, 'gstNumber')"
                />
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Shipping Details">
        <div class="p-fluid p-formgrid grid">
            <div class="col-12 md:col-6">
                <label htmlFor="email">Transportation Type</label>
                <input
                    pInputText
                    id="transportMode"
                    type="text"
                    [(ngModel)]="invoices.transportMode"
                    (ngModelChange)="modelChanged($event, 'transportMode')"
                />
            </div>
            <div class="col-12 md:col-6">
                <label htmlFor="contact">Contact</label>
                <input
                    pInputText
                    id="contact"
                    type="text"
                    [(ngModel)]="invoices.contact"
                    (ngModelChange)="modelChanged($event, 'contact')"
                />
            </div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="col-12 md:col-6">
                <label htmlFor="state">State</label>
                <p-dropdown
                    [options]="statesOptions"
                    (onChange)="selectState($event)"
                    [filter]="true"
                    [(ngModel)]="invoices.state"
                    (ngModelChange)="modelChanged($event, 'state')"
                    appendTo="body"
                ></p-dropdown>
            </div>
            <div class="col-12 md:col-6">
                <label htmlFor="city">City</label>
                <p-dropdown
                    [options]="citiesOptions"
                    [(ngModel)]="invoices.city"
                    [filter]="true"
                    [disabled]="!citiesOptions?.length"
                    (ngModelChange)="modelChanged($event, 'city')"
                    appendTo="body"
                ></p-dropdown>
            </div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="col-12">
                <label htmlFor="address">Address</label>
                <textarea
                    pInputTextarea
                    id="address"
                    rows="3"
                    [(ngModel)]="invoices.address"
                    (ngModelChange)="modelChanged($event, 'address')"
                ></textarea>
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Itemized List" [formGroup]="itemsForm">
        <div class="p-fluid p-formgrid grid">
            <div class="col-2">Code</div>
            <div class="col-2">Description</div>
            <div class="col-2">Rate</div>
            <div class="col-1">Quantity</div>
            <div class="col-2">HSN</div>
            <div class="col-2">Amount</div>
            <div class="col-1">
                <p-button
                    icon="pi pi-plus"
                    styleClass="p-button-rounded p-button-secondary"
                    (click)="addRow()"
                ></p-button>
            </div>
        </div>
        <div class="p-fluid p-formgrid grid" formArrayName="invoiceItems">
            <ng-container *ngFor="let item of items.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <div class="col-2">
                        <p-dropdown
                            [options]="products"
                            formControlName="code"
                            [filter]="true"
                            (onChange)="onProductSelect($event, i)"
                            appendTo="body"
                            [ngModelOptions]="{ standalone: true }"
                        ></p-dropdown>
                    </div>
                    <div class="col-2">
                        <input
                            pInputText
                            type="text"
                            formControlName="description"
                            (input)="onFormValueChange(i)"
                        />
                    </div>
                    <div class="col-2">
                        <input pInputText type="text" formControlName="rate" />
                    </div>
                    <div class="col-1">
                        <input
                            pInputText
                            type="text"
                            formControlName="quantity"
                            (input)="calculateAmount($event.target.value, i)"
                            (input)="onFormValueChange(i)"
                        />
                    </div>
                    <div class="col-2">
                        <input
                            pInputText
                            type="text"
                            formControlName="hsnCode"
                            (input)="onFormValueChange(i)"
                        />
                    </div>
                    <div class="col-2">
                        <input
                            pInputText
                            type="text"
                            formControlName="amount"
                            readonly="true"
                            (input)="onFormValueChange(i)"
                        />
                    </div>
                    <div class="col-1">
                        <button
                            *ngIf="items.controls.length > 1"
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-trash"
                            (click)="deleteRow(i)"
                            class="p-button-rounded p-button-text"
                        ></button>
                    </div>
                </ng-container>
            </ng-container>
        </div>

        <div class="p-fluid p-formgrid grid">
            <div class="col"></div>
            <div class="col-1">CGST</div>
            <div class="col-2">
                <p-inputNumber
                    mode="decimal"
                    suffix="%"
                    [showButtons]="true"
                    [min]="0"
                    [maxFractionDigits]="2"
                    [(ngModel)]="cgstPer"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="calculateTotalAmount()"
                >
                </p-inputNumber>
            </div>
            <div class="col-2">{{ cgstAmount }}</div>
            <div class="col-1"></div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="col"></div>
            <div class="col-1">SGST</div>
            <div class="col-2">
                <p-inputNumber
                    mode="decimal"
                    suffix="%"
                    [showButtons]="true"
                    [min]="0"
                    [maxFractionDigits]="2"
                    [(ngModel)]="sgstPer"
                    [ngModelOptions]="{ standalone: true }"
                    (ngModelChange)="calculateTotalAmount()"
                >
                </p-inputNumber>
            </div>
            <div class="col-2">{{ sgstAmount }}</div>
            <div class="col-1"></div>
        </div>
        <div class="p-fluid p-formgrid grid">
            <div class="col">{{ amountInWords }}</div>
            <div class="col-2">{{ totalAmount }}</div>
            <div class="col-1"></div>
        </div>
    </p-accordionTab>
</p-accordion>
