<div class="col-12 card">
    <h5>Invoices</h5>
    <app-invoice-table
        (openCompaniesForm)="openCompaniesForm($event)"
    ></app-invoice-table>
</div>

<p-dialog
    [(visible)]="isInvoiceDialogOpen"
    [style]="{ width: '950px' }"
    header="{{
        selectedModal === 'edit' ? 'Edit Invoice' : 'Create New Invoice'
    }}"
    [modal]="true"
    class="p-fluid"
    [resizable]="true"
    [closable]="false"
    [maximizable]="true"
>
    <app-invoice-config
        (sendFormData)="formData($event)"
        [editInvoiceData]="editProductDetails"
    ></app-invoice-config>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            type="button"
            label="Cancel"
            class="p-button-raised p-button-secondary"
            (click)="cancel()"
        ></button>
        <button
            pButton
            pRipple
            type="button"
            label="{{ selectedModal === 'edit' ? 'Save' : 'Create' }}"
            class="p-button-raised"
            [disabled]="!isValid"
            (click)="save()"
        ></button>
    </ng-template>
</p-dialog>
