<p-table
    #dt
    [value]="data"
    [columns]="cols"
    responsiveLayout="scroll"
    [rows]="20"
    [globalFilterFields]="filterFields"
    [rowHover]="true"
    dataKey="id"
    [resizableColumns]="true"
    [contextMenu]="cm"
    [globalFilterFields]="['code']"
    [reorderableColumns]="true"
    [loading]="isDataLoading"
    [scrollable]="true"
    scrollDirection="horizontal"
    scrollHeight="385px"
    [virtualScroll]="true"
    [virtualScrollItemSize]="40"
>
    <ng-template pTemplate="caption">
        <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
        >
            <span class="block mt-2 md:mt-0 p-input-icon-left">
                <i class="pi pi-search"></i>
                <input
                    pInputText
                    type="text"
                    (input)="onGlobalFilter(dt, $event)"
                    placeholder="Search..."
                    [disabled]="data?.length === 0"
                    class="w-full sm:w-auto"
                />
            </span>
            <div
                [pContextMenuRow]="{ header: 'true' }"
                (click)="onContextMenu($event, 'tableMenu')"
            >
                <i class="pi pi-ellipsis-v action-menu"></i>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th
                pResizableColumn
                pReorderableColumn
                *ngFor="let col of cols"
                pSortableColumn="{{ col.field }}"
            >
                {{ col.header
                }}<p-sortIcon field="{{ col.field }}"></p-sortIcon>
            </th>
            <th style="max-width: 5px" alignFrozen="right" pFrozenColumn></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-company>
        <tr>
            <td
                pResizableColumn
                *ngFor="let col of cols"
                pTooltip="{{ company[col.field] }}"
                class="p-text-nowrap p-text-truncate"
                tooltipPosition="bottom"
            >
                {{ company[col.field] }}
            </td>
            <td style="width: 5px" alignFrozen="right" pFrozenColumn>
                <div>
                    <i
                        class="pi pi-ellipsis-h action-menu"
                        (click)="onContextMenu($event, 'rowMenu', company)"
                    ></i>
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8" *ngIf="!isDataLoading && data?.length">
                No record found.
            </td>
            <td colspan="8" *ngIf="!isDataLoading && !data?.length">
                No data to display.
            </td>
        </tr>
    </ng-template>
</p-table>
<p-contextMenu #cm [model]="contextMenus" triggerEvent="click"></p-contextMenu>
