<div class="layout-topbar">
    <button
        #menubutton
        class="p-link layout-topbar-button"
        (click)="layoutService.onMenuToggle()"
    >
        <i class="pi pi-bars"></i>
    </button>

    <a routerLink="/main"
        ><span class="layout-topbar-logo upper-case">{{ companyName }}</span></a
    >

    <button
        #topbarmenubutton
        class="p-link layout-topbar-menu-button layout-topbar-button"
        (click)="layoutService.showProfileSidebar()"
    >
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div
        #topbarmenu
        class="layout-topbar-menu"
        [ngClass]="{
            'layout-topbar-menu-mobile-active':
                layoutService.state.profileSidebarVisible
        }"
    >
        <button
            class="p-link layout-topbar-button"
            (click)="showContextMenu($event)"
        >
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </button>
    </div>
</div>
<p-contextMenu
    #cm
    [model]="contextMenuItems"
    triggerEvent="click"
></p-contextMenu>

<p-dialog
    [(visible)]="isSwitchCompanyFormOpen"
    [style]="{ width: '400px', 'min-height': '150px' }"
    [modal]="true"
    class="p-fluid"
    [closable]="false"
>
    <p-dropdown
        *ngIf="!isPasswordChangeDialog"
        [options]="companyOptions"
        (onChange)="selectCompany($event)"
        optionLabel="label"
        appendTo="body"
    ></p-dropdown>

    <ng-container *ngIf="isPasswordChangeDialog">
        <label for="password1" class="block text-900 font-medium text-xl mb-2"
            >New Password</label
        >
        <p-password
            id="password"
            [(ngModel)]="password"
            placeholder="Password"
            [toggleMask]="true"
            styleClass="mb-5"
            inputStyleClass="w-full p-3 md:w-30rem"
            autoWidth="false"
            [style]="{ width: '100%' }"
        ></p-password>
    </ng-container>

    <ng-template pTemplate="footer">
        <button
            pButton
            pRipple
            type="button"
            label="Cancel"
            class="p-button-raised p-button-secondary"
            (click)="cancel()"
        ></button>
        <button
            pButton
            pRipple
            type="button"
            label="Submit"
            class="p-button-raised"
            [disabled]="
                !isPasswordChangeDialog ? !isValid : password.length === 0
            "
            (click)="submit()"
        ></button>
    </ng-template>
</p-dialog>
