<div class="col-12 card">
    <h5>Companies</h5>
    <app-companies-table (openCompaniesForm)="openCompaniesForm($event)"></app-companies-table>
</div>

<p-dialog [(visible)]="isCompanyFormOpen" [style]="{width: '650px'}"
    header="{{selectedModal === 'edit' ? 'Edit Company Details' : 'Create New Company'}}" [modal]="true" class="p-fluid"
    [resizable]="true" [closable]="false" [maximizable]="true">

    <app-common-form></app-common-form>

    <ng-template pTemplate="footer">
        <button pButton pRipple type="button" label="Cancel" class="p-button-raised p-button-secondary"
            (click)="cancel()"></button>
        <button pButton pRipple type="button" label="{{selectedModal === 'edit' ? 'Save' : 'Create'}}"
            class="p-button-raised"></button>
    </ng-template>
</p-dialog>