/* You can add global styles to this file, and also import other style files */

$gutter: 1rem; //for primeflex grid system
@import "assets/layout/styles/layout/layout.scss";

/* PrimeNG */
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";

/* commons */
@import "assets/common/styles/flags/flags.css";
@import "assets/common/styles/badges.scss";
@import "assets/common/styles/code.scss";

td {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }


.required:after {
  content:" *";
  color: red;
}

.error {
  color: red;
}

.upper-case {
  text-transform: uppercase;
}

.action-menu {
  cursor: pointer;
}

.p-sortable-column-icon {
  height: 0.5rem !important
}

.hide-upload-button {
  display: none !important;
}

.p-datatable .p-datatable-tbody > tr > td {
  text-align: left !important;
}

.p-dialog-content::-webkit-scrollbar {
  display: none;
}

.p-datatable-wrapper .p-datatable-tbody {
  min-height: calc(100vh - 90px);
}
